/*--共通のcss start--*/
html{
    min-height: 100%
}

body{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    width: 100%;
    background: linear-gradient(-135deg,#fccb90,#d57eeb)fixed;
}
/*--共通のcss end--*/

/*--header start--*/
header{
    height: 50px;
    width: 100%;
    z-index: 100;
    background-color: white;
    position: fixed;
}

.header_title{
    font-size: 30px;
    padding-top: 5px;
    padding-left: 30px;
    display: inline-block;
}

.level{
    font-size: 20px;
    font-weight: lighter;
    display: inline-block;
}
/*--header end--*/

/*--profile start*/
.profile{
    padding-top: 150px; 
    text-align: center;
    margin: 0 auto;
}

.profile_img{
    width: 300px;
    border-radius: 30%;
}

.profile_info{
    color: white;
    font-size: 15px;
}

.name{
    font-size: 20px;
}

/*--profile end--*/
